/res/GlobalLandTemperaturesByCity.csv
/res/GlobalLandTemperaturesByCountry.csv
/res/GlobalLandTemperaturesByMajorCity.csv
/res/GlobalLandTemperaturesByState.csv
/res/GlobalTemperatures.csv
/res/household_power_consumption.txt
/res/household_power_consumption.zip
*.pyc
